<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	
</head>
<body>
	<div id="app-box" class="box">
		<div id="lines-box">
		</div>

		<div id="control-box" class="box flex-col">
			<div id="app-wide-properties" class="box flex-row">
				<div id="stat-box" class="box">
					<dl class="inside">
						<span class="list-head">FSDB:</span>
						<li>Charter count: {{fsdb_stats['total_charters']}}</li>
						<li>Image count: {{fsdb_stats['total_images']}}</li>
						<li>HTR prealigned files: {{fsdb_stats['htr_pregt_count']}} ({{fsdb_stats['htr_pregt_ratio']*100|round}}%)</li>
						<li>HTR GT files: {{fsdb_stats['htr_gt_count']}} ({{(fsdb_stats['htr_gt_ratio']*100)|round(1)}}%)</li>
					</dl>

				</div>

			</div>
			<div id="export-box">
					<button id="check-button" class='export-button'>Check</button>
					<button id="export-button" class='export-button'> Export</button>
			</div>
			<div id="charter-table">
				<div class="table-row">
					<div class="table-header-cell width-90">
						/*/*/Charter
					</div>
					<div class="table-header-cell">GT</div>
				</div>
				{% for ch_id in charter_ids %}

					{% if loop.index==1 %} <div class="table-row row-of-interest"> {% else %} <div class="table-row"> {% endif %}
					 	<div class="table-cell width-90">
							{% if ch_id.id != charter_img_id %}
							{{ch_id.number}}. <a href="/alignment/{{ch_id.id}}">{{ch_id.id}}</a>
							{% else %}
								{{ch_id.number}}. {{ch_id.id}}
							{% endif %}
						</div>
						<div class="table-cell" >
							{% if ch_id.hasGTData %}
								<input class="tablechck" type="checkbox" id="check_gtdata_{{ch_id.id}}" name="check_gtdata" value="false">
							{% endif %}
						</div>
					</div>
				{% endfor %}

			</div>

		</div>
	</div>

      	<script type="text/javascript">
		
				
	window.onload=() => {

			var charter_img_id = {{ charter_img_id | tojson }};
			var charter_ids = {{ charter_ids | tojson }};

			const AbbreviationMark = { READ: 0, SEEN: 1, READSEEN: 2 }

			/* 
			 * Highlighting of complete/incomplete abbreviation marks
			 * (assume that matches are not overlapping)
			 */
			function highlight( inputStr ){
				//console.log(`highlight(${inputStr})`);
				// eg. [abc| def, [abc.
				const reRead = /\[[^ .,;:\-|]+\|?(?=[ .,:;]|$)/gd; 
				// eg. def%g]
				const reSeen = /(?<=(^|\s))\|?[a-zA-Z]+\]/gd;
				// eg. [ab_c|def
				const reReadSeen = /\[[A-Za-z$]+\|[^ .,;:\-_|]+/gd;
				let reReadMatches = Array.from(inputStr.matchAll(reRead));
				let reSeenMatches = Array.from(inputStr.matchAll(reSeen));
				let reReadSeenMatches = Array.from(inputStr.matchAll(reReadSeen));
				// Zipping each array of match objects with their corresponding flag
				let flaggedReadMatches = Array.from( Iterator.zip( [ reReadMatches, reReadMatches.map( (elt)=> AbbreviationMark.READ )]));
				let flaggedSeenMatches = Array.from( Iterator.zip( [ reSeenMatches, reSeenMatches.map( (elt)=> AbbreviationMark.SEEN )]));
				let flaggedReadSeenMatches = Array.from( Iterator.zip( [ reReadSeenMatches, reReadSeenMatches.map( (elt)=> AbbreviationMark.READSEEN )]));
				let sortedMatches = flaggedReadMatches.concat( flaggedSeenMatches ).concat( flaggedReadSeenMatches ).sort( (a, b) => a[0].index - b[0].index)

				let html = '';
				let currentLeft = 0;
				let complete = true
				for (const m of sortedMatches){
					let left = m[0].index;
					if (left < currentLeft){ 
						console.log("Annotation patterns overlap! Abort highlighting on this line.");
						return [html, false];
					} 
					let right = m[0].index + m[0][0].length;
					html += inputStr.slice(currentLeft,left)
					if (m[1] == AbbreviationMark.READ){
						html += `<mark class="highlight-read">${inputStr.slice(left,right)}</mark>`;
						complete=false;
					} else if ( m[1] == AbbreviationMark.SEEN) {
						html += `<mark class="highlight-seen">${inputStr.slice(left,right)}</mark>`;
						complete=false;
					} else if ( m[1] == AbbreviationMark.READSEEN ){
						html += `<mark class="highlight-readseen">${inputStr.slice(left,right)}</mark>`;
					}
					currentLeft = right;
				}
				if (currentLeft != inputStr.length ){ html += inputStr.slice( currentLeft, );}
				console.log(html);
				return [html, complete];
			}

			/*
			 * Store cursor position in innerText wr/ entire line transcription 
			 */
			function getCursorPosition( hasChanged ) {
				let cursorPosition = { node: null, offset: 0, parentNode: null, parentOffset: 0 }
				if (window.getSelection) {
					selection = window.getSelection();
					if (selection.rangeCount > 0) {
						let range = selection.getRangeAt(0);
					      	cursorPosition.node = range.startContainer;
						cursorPosition.parentNode = range.commonAncestorContainer.parentNode;
						if (cursorPosition.parentNode.nodeName === 'MARK'){
							cursorPosition.parentNode = cursorPosition.parentNode.parentNode;
						}
						// computing offset wr/ parent node's text
						let currentSibling = cursorPosition.parentNode.firstChild;
						let parentOffset = 0;
						while (currentSibling !== null){
							let thisText = ''
							if (currentSibling.nodeType === Node.TEXT_NODE){
								if (currentSibling === cursorPosition.node){
									break;
								}
								thisText=currentSibling.wholeText;
							} else if (currentSibling.nodeType === Node.ELEMENT_NODE){
								if (currentSibling.firstChild === cursorPosition.node){
									break;
								}
								thisText=currentSibling.innerText;
							}
							parentOffset += thisText.length
							currentSibling = currentSibling.nextSibling;
						}
					  	cursorPosition.offset = range.startOffset;
						cursorPosition.parentOffset = parentOffset + cursorPosition.offset + hasChanged;
					}
			  	}
				return cursorPosition;
			}

			/*
			 * Restore cursor position from previous (=before innnerHTML replacement) position.
			 * Retrieve relevant node and index from the transcription-wide text offset.
			 */
			function restoreCursorPosition( cursorPosition ) {
				let currentSibling = cursorPosition.parentNode.firstChild;
				let thisOffset = 0;
				while( currentSibling !== null ){
					let thisText = null;
					if (currentSibling.nodeType === Node.TEXT_NODE){
						if ( thisOffset + currentSibling.wholeText.length >= cursorPosition.parentOffset )
							break;
						thisOffset += currentSibling.wholeText.length;
					} else if ( currentSibling.nodeType === Node.ELEMENT_NODE){
						if (thisOffset + currentSibling.innerText.length >= cursorPosition.parentOffset )
							break;
						thisOffset += currentSibling.innerText.length;
					}
					currentSibling = currentSibling.nextSibling ;
				}
				if ( currentSibling.nodeType === Node.TEXT_NODE){
					cursorPosition.node = currentSibling;
				} else if (currentSibling.nodeType === Node.ELEMENT_NODE){
					cursorPosition.node = currentSibling.firstChild;
				}
				cursorPosition.offset = cursorPosition.parentOffset-thisOffset;

				let range = document.createRange();
			  	range.setStart( cursorPosition.node, cursorPosition.offset);
			  	range.collapse(true);
			  	let selection = window.getSelection();
			  	selection.removeAllRanges();
			  	selection.addRange(range);
			}

			function completeAbbr( inputStr ){
				const partialRe = /(?<=(^| ))([^[| ]+\|(\w|\%)+)/g;
				return inputStr.replaceAll( partialRe, (g)=>{return '['+g} );
			}

			// HTML is generated upstream by template rendering in charter_annotation.py
			function importData( img_id, dataType, edit ){
				const url = `/lines/${img_id}?` + new URLSearchParams({dataType: dataType, edit: edit}).toString()
                         	return fetch(url, { method: "GET" })
	                       	.then( resp => resp.text() )
				.then( data => { document.getElementById('lines-box').innerHTML = data; } )
				.then( () => { 
					for (const line_elt of document.getElementsByClassName('line-transcription')){
						const transcriptionLineInputElt = line_elt.getElementsByClassName('line-input')[0];
						transcriptionLineInputElt.innerHTML = highlight( transcriptionLineInputElt.innerText )[0];
						console.log(transcriptionLineInputElt.innerHTML);
						// in-line highlighting
						transcriptionLineInputElt.oninput = (evt) => {

							completedStr = completeAbbr( transcriptionLineInputElt.innerText );
							const highlighted = highlight( completedStr );
							let currentPosition = getCursorPosition( completedStr.length > transcriptionLineInputElt.innerText.length );
							transcriptionLineInputElt.innerHTML = highlighted[0];
							restoreCursorPosition( currentPosition );
							let completeFlag = highlighted[1];
							if (completeFlag){
								;
								/*
								console.log(completeFlag);
								transcriptionLineInputElt.setAttribute('contenteditable', false );
								let lineId = transcriptionLineInputElt.parentNode.getAttribute('id').slice(5,);
								document.getElementById(`edit-button-${lineId}`).removeAttribute('disabled');
								*/
							}
						}
					}
				})
			}

			// by default, import GT data, if it exists
			if (charter_ids.find( (ch) => ch.id === charter_img_id ).hasGTData){
				importData( charter_img_id, 'gt', 0);
				let elt = document.getElementById(`check_gtdata_${charter_img_id}`);
				console.log(elt);
				elt.checked=true;
			} else {
				importData( charter_img_id, 'pregt', 1);
			}


	     		function exportData(charter_img_id){

				let transcriptions = []
				let transcriptionElts = document.querySelectorAll(".line-transcription")
				console.log(transcriptionElts)
				for (let tidx=0; tidx<transcriptionElts.length; tidx++){
					transcription = transcriptionElts[tidx].querySelector(".line-input").innerText;
					console.log(`export=${transcription}`)
					discussFlag = transcriptionElts[tidx].querySelector("input[name='line-flag-discuss']");
					discardFlag = transcriptionElts[tidx].querySelector("input[name='line-flag-discard']");
					//console.log(discussFlag)
					//console.log(discardFlag)
					original = transcriptionElts[tidx].querySelector(".hidden-transcription").value;
					if (discardFlag.checked){
						transcriptions.push( '--<discard>--' );
					/*} else if ( transcription !== original ){
						transcriptions.push( transcription );
					} else {
						transcriptions.push( null );
					}*/
					} else { transcriptions.push( transcription ) }
				}

				if (transcriptions.length === 0){ console.log("exportData() - abort: empty transcription data!"); return }
				const url = `/lines/${charter_img_id}`;
				fetch(url, { method: "POST", headers: {"Content-Type":"application/json"}, body: JSON.stringify( transcriptions ) })
				.then( resp => { 
					console.log(resp.json());
					let dataCheckElt = document.getElementById(`check_gtdata_${charter_img_id}`)
					if (dataCheckElt !== null){
						dataCheckElt.checked = true;
					}
				} )
			}

			(function controlBoxInit(){
				for (const flagElt of document.getElementsByName("line-flag")){
					flagElt.checked=false;
				}

				const gt_data_checks = document.getElementsByName("check_gtdata")
				for(const elt of gt_data_checks){
					if (elt.id === `check_gtdata_${charter_img_id}`){
						//elt.checked=false;
						elt.onchange = () => {
							let dataType = 'pregt';
							if (elt.checked){ dataType='gt' }
							importData(charter_img_id, dataType)
						}
					} else { elt.disabled=true; }
				}
			
				document.getElementById("export-button").onclick=function(){
					exportData(charter_img_id);
				}


				// client-side only action
				// 0. Current input values copied into checked-transcription hidden field
				// 1. All lines shown as non-editable (read-only)
				// 2. Incomplete patterns (=[abc) highlighted
				// 3  Button 'edit' near each line
				const checkButton = document.getElementById("check-button") 
				function check_complete( inputStr ){
					return highlight( inputStr )[1];
				}
				checkButton.onclick=function(){
					for(const line_elt of document.getElementsByClassName('line-transcription')){
						const transcriptionLineInputElt = line_elt.getElementsByClassName('line-input')[0];
						let highlighted = highlight(transcriptionLineInputElt.innerText);
						if (highlighted[1]) {
							transcriptionLineInputElt.setAttribute('contenteditable', false );
							transcriptionLineInputElt.innerHTML = highlighted[0];
							const editButton = document.getElementById(`edit-button-${line_elt.getAttribute('id').slice(5,)}`);
							editButton.removeAttribute('disabled');
							editButton.onclick=function(){
								transcriptionLineInputElt.setAttribute('contenteditable', true);
								this.disabled='disabled';
							};
						}
					}
				}
			})()
		}
	</script>

</body>
</html>
