<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	
</head>
<body>
	<div id="app-box" class="box">
		<div id="lines-box">
		</div>

		<div id="control-box" class="box flex-col">
			<div id="app-wide-properties" class="box flex-row">
				<div id="stat-box" class="box">
					<dl class="inside">
						<span class="list-head">FSDB:</span>
						<li>Charter count: {{fsdb_stats['total_charters']}}</li>
						<li>Image count: {{fsdb_stats['total_images']}}</li>
						<li>HTR prealigned files: {{fsdb_stats['htr_pregt_count']}} ({{fsdb_stats['htr_pregt_ratio']*100|round}}%)</li>
						<li>HTR GT files: {{fsdb_stats['htr_gt_count']}} ({{(fsdb_stats['htr_gt_ratio']*100)|round(1)}}%)</li>
					</dl>

				</div>

			</div>
			<div id="export-box">
				<button id="export-button"> Export</button>
			</div>
			<div id="charter-table">
				<div class="table-row">
					<div class="table-header-cell width-90">
						/*/*/Charter
					</div>
					<div class="table-header-cell">GT</div>
				</div>
				{% for ch_id in charter_ids %}

					{% if loop.index==1 %} <div class="table-row row-of-interest"> {% else %} <div class="table-row"> {% endif %}
					 	<div class="table-cell width-90">
							{% if ch_id.id != charter_img_id %}
							{{ch_id.number}}. <a href="/alignment/{{ch_id.id}}">{{ch_id.id}}</a>
							{% else %}
								{{ch_id.number}}. {{ch_id.id}}
							{% endif %}
						</div>
						<div class="table-cell" >
							{% if ch_id.hasGTData %}
								<input class="tablechck" type="checkbox" id="check_gtdata_{{ch_id.id}}" name="check_gtdata" value="false">
							{% endif %}
						</div>
					</div>
				{% endfor %}

			</div>

		</div>
	</div>

      	<script type="text/javascript">
		
				
	window.onload=() => {

				
			var charter_img_id = {{ charter_img_id | tojson }};
			var charter_ids = {{ charter_ids | tojson }};

			function importData( img_id, dataType ){
				const url = `/lines/${img_id}?` + new URLSearchParams({dataType: dataType}).toString()
                         	return fetch(url, { method: "GET" })
	                       	.then( resp => resp.text() )
				.then( data => { document.getElementById('lines-box').innerHTML = data; } )
			}

			// by default, import GT data, if it exists
			if (charter_ids.find( (ch) => ch.id === charter_img_id ).hasGTData){
				importData( charter_img_id, 'gt');
				let elt = document.getElementById(`check_gtdata_${charter_img_id}`);
				console.log(elt);
				elt.checked=true;
			} else {
				importData( charter_img_id, 'pregt');
			}


	     		function exportData(charter_img_id){

				let transcriptions = []
				let transcriptionElts = document.querySelectorAll(".line-transcription")
				console.log(transcriptionElts)
				for (let tidx=0; tidx<transcriptionElts.length; tidx++){
					transcription = transcriptionElts[tidx].querySelector(".line-input").value;
					flag = transcriptionElts[tidx].querySelector("input[name='line-flag']");
					console.log(flag)
					original = transcriptionElts[tidx].querySelector(".hidden-transcription").value;
					if (flag.checked){
						transcriptions.push( '--<discard>--' );
					} else if ( transcription !== original ){
						transcriptions.push( transcription );
					} else {
						transcriptions.push( null );
					}
				}
				console.log(transcriptions)

				if (transcriptions.length === 0){ console.log("exportData() - abort: empty transcription data!"); return }
				const url = `/lines/${charter_img_id}`;
				fetch(url, { method: "POST", headers: {"Content-Type":"application/json"}, body: JSON.stringify( transcriptions ) })
				.then( resp => { 
					console.log(resp.json());
					let dataCheckElt = document.getElementById(`check_gtdata_${charter_img_id}`)
					if (dataCheckElt !== null){
						dataCheckElt.checked = true;
					}
				} )
			}

			(function controlBoxInit(){
				for (const flagElt of document.getElementsByName("line-flag")){
					flagElt.checked=false;
				}

				const gt_data_checks = document.getElementsByName("check_gtdata")
				for(const elt of gt_data_checks){
					if (elt.id === `check_gtdata_${charter_img_id}`){
						//elt.checked=false;
						elt.onchange = () => {
							let dataType = 'pregt';
							if (elt.checked){ dataType='gt'; }
							importData(charter_img_id, dataType) 
						}
					} else { elt.disabled=true; }

				} 
			
				document.getElementById("export-button").onclick=function(){
					exportData(charter_img_id);
				}
			
			})()

		}
	</script>

</body>

</html>
