<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	
</head>
<body>
	<div id="app-box" class="box">
		<div id="lines-box">
		</div>

		<div id="control-box" class="box flex-col">
			<div id="app-wide-properties" class="box flex-row">
				<div id="stat-box" class="box">
					<dl class="inside">
						<span class="list-head">FSDB:</span>
						<li>Charter count: {{fsdb_stats['total_charters']}}</li>
						<li>Image count: {{fsdb_stats['total_images']}}</li>
						<li>HTR prealigned files: {{fsdb_stats['htr_pregt_count']}} ({{fsdb_stats['htr_pregt_ratio']*100|round}}%)</li>
						<li>HTR GT files: {{fsdb_stats['htr_gt_count']}} ({{(fsdb_stats['htr_gt_ratio']*100)|round(1)}}%)</li>
					</dl>

				</div>

			</div>
			<div id="export-box">
					<button id="check-button" class='export-button'>Check</button>
					<button id="export-button" class='export-button'> Export</button>
			</div>
			<div id="charter-table">
				<div class="table-row">
					<div class="table-header-cell width-90">
						/*/*/Charter
					</div>
					<div class="table-header-cell">GT</div>
				</div>
				{% for ch_id in charter_ids %}

					{% if loop.index==1 %} <div class="table-row row-of-interest"> {% else %} <div class="table-row"> {% endif %}
					 	<div class="table-cell width-90">
							{% if ch_id.id != charter_img_id %}
							{{ch_id.number}}. <a href="/alignment/{{ch_id.id}}">{{ch_id.id}}</a>
							{% else %}
								{{ch_id.number}}. {{ch_id.id}}
							{% endif %}
						</div>
						<div class="table-cell" >
							{% if ch_id.hasGTData %}
								<input class="tablechck" type="checkbox" id="check_gtdata_{{ch_id.id}}" name="check_gtdata" value="false">
							{% endif %}
						</div>
					</div>
				{% endfor %}

			</div>

		</div>
	</div>

      	<script type="text/javascript">
		
		let cursorPosition = { node: null, offset: 0 }
				
	window.onload=() => {

			var charter_img_id = {{ charter_img_id | tojson }};
			var charter_ids = {{ charter_ids | tojson }};

			// for highlighting complete/incomplete abbreviation marks
			// (assume that matches are not overlapping)
			const reExp = /\[[^ .,;:\-|]+\|?(?=[ .,:;]|$)/gd;
			const reExpAbr = /\[[A-Za-z]+\|[^ .,;:\-|]+/gd;
			function highlight( inputStr ){
						console.log(`highlight(${inputStr})`);
				let html = '';
				let currentLeft = 0;
				let reExpMatches = Array.from(inputStr.matchAll(reExp));
				let reExpAbrMatches = Array.from(inputStr.matchAll(reExpAbr));
				reExpMatches.push(-1); reExpAbrMatches.push(-1);
				let sortedMatches = Array();
				let t = 0; let b = 0; let indexes = Array();
				for (let i=0; i<(reExpMatches.length+reExpAbrMatches.length-2); i++){
					if (reExpAbrMatches[b]==-1 || reExpMatches[t].index <= reExpAbrMatches[b].index){
						sortedMatches.push( [reExpMatches[t],0] );
						indexes.push( reExpMatches[t].index );
						t++;
					} else if (reExpMatches[t]==-1 || reExpMatches[t].index > reExpAbrMatches[b].index){
						sortedMatches.push( [reExpAbrMatches[b],1]);
						indexes.push( reExpAbrMatches[b].index );
						b++;
					}
				}
				for (let i=0; i<indexes.length-1;i++){
					if (indexes[i] > indexes[i+1]){ console.log("Overlapping matches: abort."); return [inputStr,false]; }
				}
				let complete = true
				console.log(sortedMatches)
				for (const m of sortedMatches){
					let left = m[0].index;
					let right = m[0].index + m[0][0].length;
					html += inputStr.slice(currentLeft,left)
					if (m[1] == 0){
						html += `<mark class="highlight">${inputStr.slice(left,right)}</mark>`;
						console.log(`In loop: complete=${complete} (m=${m[0]})`);
						complete=false;
					} else {
								console.log("In loop: incomplete.");
						html += `<mark class="highlight-ok">${inputStr.slice(left,right)}</mark>`;
					}
					currentLeft = right;
				}
				if (currentLeft != inputStr.length ){ html += inputStr.slice( currentLeft, );}
				//if (html === ''){ return [inputStr, true]; }
				return [html, complete];
			}


function storeCursorPosition() {
  if (window.getSelection) {
    selection = window.getSelection();
			  console.log(selection);
    if (selection.rangeCount > 0) {
      let range = selection.getRangeAt(0);
      cursorPosition.node = range.startContainer;
      cursorPosition.offset = range.startOffset;
    }
    console.log(cursorPosition)
  }
}

function restoreCursorPosition() {
  let range = document.createRange();
			console.log(cursorPosition)
  range.setStart(cursorPosition.node, cursorPosition.offset);
			console.log(range);
  //range.collapse(true);
			console.log(range);
  let selection = window.getSelection();
			console.log(selection);
  selection.removeAllRanges();
  selection.addRange(range);
}
			// HTML is generated upstream by template rendering in charter_annotation.py
			function importData( img_id, dataType, edit ){
				const url = `/lines/${img_id}?` + new URLSearchParams({dataType: dataType, edit: edit}).toString()
                         	return fetch(url, { method: "GET" })
	                       	.then( resp => resp.text() )
				.then( data => { document.getElementById('lines-box').innerHTML = data; } )
				.then( () => { 
					console.log(document.getElementsByClassName('line-transcription').length); 
					for (const line_elt of document.getElementsByClassName('line-transcription')){
						const transcription_line_input_elt = line_elt.getElementsByClassName('line-input')[0];
						console.log( transcription_line_input_elt );
						transcription_line_input_elt.innerHTML = highlight( transcription_line_input_elt.innerText )[0];
						console.log(transcription_line_input_elt.innerHTML);
						transcription_line_input_elt.focusin = (evt) => {
									storeCursorPosition()
								}
						transcription_line_input_elt.oninput = (evt) => {
									console.log(`${evt.data}`)
									console.log(`${evt.detail}`)
							const highlighted = highlight( transcription_line_input_elt.innerText )
							storeCursorPosition();
							transcription_line_input_elt.innerHTML = highlighted[0];
							restoreCursorPosition();
							//transcription_line_input_elt.focus()

							let completeFlag = highlighted[1];
						}
					}
				})
			}

			// by default, import GT data, if it exists
			if (charter_ids.find( (ch) => ch.id === charter_img_id ).hasGTData){
				importData( charter_img_id, 'gt', 0);
				let elt = document.getElementById(`check_gtdata_${charter_img_id}`);
				console.log(elt);
				elt.checked=true;
			} else {
				importData( charter_img_id, 'pregt', 1);
			}


	     		function exportData(charter_img_id){

				let transcriptions = []
				let transcriptionElts = document.querySelectorAll(".line-transcription")
				console.log(transcriptionElts)
				for (let tidx=0; tidx<transcriptionElts.length; tidx++){
					transcription = transcriptionElts[tidx].querySelector(".line-input").innerText;
					discussFlag = transcriptionElts[tidx].querySelector("input[name='line-flag-discuss']");
					discardFlag = transcriptionElts[tidx].querySelector("input[name='line-flag-discard']");
					console.log(discussFlag)
					console.log(discardFlag)
					original = transcriptionElts[tidx].querySelector(".hidden-transcription").value;
					if (discardFlag.checked){
						transcriptions.push( '--<discard>--' );
					/*} else if ( transcription !== original ){
						transcriptions.push( transcription );
					} else {
						transcriptions.push( null );
					}*/
					} else { transcriptions.push( transcription ) }
				}

				if (transcriptions.length === 0){ console.log("exportData() - abort: empty transcription data!"); return }
				const url = `/lines/${charter_img_id}`;
				fetch(url, { method: "POST", headers: {"Content-Type":"application/json"}, body: JSON.stringify( transcriptions ) })
				.then( resp => { 
					console.log(resp.json());
					let dataCheckElt = document.getElementById(`check_gtdata_${charter_img_id}`)
					if (dataCheckElt !== null){
						dataCheckElt.checked = true;
					}
				} )
			}

			(function controlBoxInit(){
				for (const flagElt of document.getElementsByName("line-flag")){
					flagElt.checked=false;
				}

				const gt_data_checks = document.getElementsByName("check_gtdata")
				for(const elt of gt_data_checks){
					if (elt.id === `check_gtdata_${charter_img_id}`){
						//elt.checked=false;
						elt.onchange = () => {
							let dataType = 'pregt';
							if (elt.checked){ dataType='gt' }
							importData(charter_img_id, dataType)
						}
					} else { elt.disabled=true; }
				} 
			
				document.getElementById("export-button").onclick=function(){
					exportData(charter_img_id);
				}


				// client-side only action
				// 0. Current input values copied into checked-transcription hidden field
				// 1. All lines shown as non-editable (read-only)
				// 2. Incomplete patterns (=[abc) highlighted
				// 3  Button 'edit' near each line
				const checkButton = document.getElementById("check-button") 
				function check_complete( inputStr ){
					return highlight( inputStr )[1];
				}
				checkButton.onclick=function(){
					for(const line_elt of document.getElementsByClassName('line-transcription')){
						const transcription_line_input_elt = line_elt.getElementsByClassName('line-input')[0];
						let complete = check_complete(transcription_line_input_elt.innerText);
						console.log("complete="+complete);
						if (complete) {
							transcription_line_input_elt.setAttribute('contenteditable', false );
							const editButton = document.getElementById(`edit-button-${line_elt.getAttribute('id').slice(5,)}`);
							editButton.removeAttribute('disabled');
							editButton.onclick=function(){
								transcription_line_input_elt.setAttribute('contenteditable', true);
								this.disabled='disabled';
							};
						}
					}
				}
			})()
		}
	</script>

</body>
</html>
