<!DOCTYPE html>
<html>
<head>
<!-- Load the Paper.js library -->
	<script type="text/javascript" src="static/paper.js"></script>
<!-- Define inlined JavaScript -->

	<script type="text/javascript" src="static/line_annotation.js"> </script>
</head>
<body>
	<div id="cnv">0
	<canvas id="myCanvas" width="800px" height="600px">
	</canvas>
	</div>

       <script type="text/javascript">

	       var img_file = "static/{{charters[current].filename}}"; 

       		const cnv = document.getElementById("myCanvas");

        </script>

	<div id="charters">
	<ul>
		{% for id, ch in charters.items() %}
		<li><a href="/{{id}}">{{loop.index}}. {{ch.filename}}</a></li>
		{% endfor %}
	</ul>
	</div>
</body>

</html>
